// Custom styles.
body {
    background-image: url("/images/shadow_light.png"), url(/images/air.png);
    background-repeat: repeat-x, repeat
}
/*内容半透明背景*/
.header-inner,
.content-wrap {
  background:rgba(255,255,255,0.75) !important;
}