// Custom styles.
// image from v2ex
body {
    background-image: url("/images/shadow_light.png"), url(/images/air.png);
    background-repeat: repeat-x, repeat
}
/*头部背景*/
.site-meta {
    background-color: #001930;
}
/*内容半透明背景*/
.content-wrap {
  opacity: 0.85;
}
